<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="mainclass">
    <div class="mainlogo">
      <img src="/assets/file.png" alt="food?">
    </div>
    <div class="search">
        <form >
            <input type="text" placeholder="ingrediants..." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="navcontent">
      <ul>
        <li><a href="welcome">Welcome</a></li>
        <li><a href="about">About</a></li>
        <li><a href="Recipes">Recipes</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </div>
    <div class="buttons">
      <button> <img src="/assets/imageF.png" alt="facebook"></button>
      <button><img src="/assets/imageP.png" alt="instagrame"></button>
    </div>
  </div>
