<div class="header__container" id="home">
    <div class="header__content">
      <h1>Find , Eat & Enjoy The <span>True Taste</span>.</h1>
      <p class="section__description">
        Discover the true essence of culinary delight as you meet, eat, and
        savor the authentic flavors that define our passion for food.
      </p>
      <div class="btn">
        <button class="btn">Get Started || login or sign up</button>
      </div>
    </div>  
    <div class="header__image">
      <img src="https://www.foodandwine.com/thmb/tAS-x_IC4ss1cb9EdDpsr0UExdM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/bucatini-with-mushroom-ragu-dandelion-greens-and-tarragon-FT-RECIPE0421-3a5f0d29f7264f5e9952d4a3a51f5f58.jpg" alt="header" />
    </div>
</div>
